@model BusinessManagementSystemApp.Models.Models.Product
<table class="table table-striped table-bordered " style=" margin-top:20px">
    <thead class="table-bordered" style="background-color: forestgreen ;color:white">
        <tr>
            <th>SL</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Reorderbr Level</th>
            <th>Image</th>
        </tr>
    </thead>
    @if (ViewBag.ExpiredList != null)
    {
        <tbody>

            @{ int sl = 1;}
            @foreach (var product in ViewBag.ExpiredList)
            {
            <tr>
                <td>@(sl++)</td>
                <td>@product.ProductCode</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>
                <td>@product.ReorderLevel</td>
                <td>@product.Image</td>
            </tr>
            }
        </tbody>
    }

</table>

